In [1]:
import pandas as pd
import numpy as np

In [6]:
df =pd.read_csv("../Data/oil.csv")

In [8]:
df

            date  dcoilwtico
0     2013-01-01         NaN
1     2013-01-02       93.14
2     2013-01-03       92.97
3     2013-01-04       93.12
4     2013-01-07       93.20
...          ...         ...
1213  2017-08-25       47.65
1214  2017-08-28       46.40
1215  2017-08-29       46.46
1216  2017-08-30       45.96
1217  2017-08-31       47.26

[1218 rows x 2 columns]

In [9]:
df["dcoilwtico"].isnull().sum() #devuelve la suma de elementos que son nulos en la fila dcoilwtico

43

In [12]:
df["dcoilwtico"].mean() #obetener la media

67.71436595744682

In [13]:
df["dcoilwtico"]= df["dcoilwtico"].fillna(df["dcoilwtico"].mean()) #realizo imputacion, es decir lleno con la media los valores que tienen nulo en dcoilwtico

In [14]:
df.head()

         date  dcoilwtico
0  2013-01-01   67.714366
1  2013-01-02   93.140000
2  2013-01-03   92.970000
3  2013-01-04   93.120000
4  2013-01-07   93.200000

In [15]:
df["dcoilwtico"].mean() #obetener la media

67.71436595744682

In [16]:
df.dtypes

date           object
dcoilwtico    float64
dtype: object

In [17]:
#Uso de tipo de datos de fecha

In [18]:
pd.to_datetime(df["date"])

0      2013-01-01
1      2013-01-02
2      2013-01-03
3      2013-01-04
4      2013-01-07
          ...
1213   2017-08-25
1214   2017-08-28
1215   2017-08-29
1216   2017-08-30
1217   2017-08-31
Name: date, Length: 1218, dtype: datetime64[ns]

In [19]:
df["date"]= pd.to_datetime(df["date"]) #transformo el tipo de dato a datetime64

In [20]:
df.dtypes

date          datetime64[ns]
dcoilwtico           float64
dtype: object

In [27]:
df["date"].dt.day_name(locale= "Spanish")  #al igual que con cadena de texto uso .str para acceder a sus funciones, aca uso .dt para acceser a las caractristicas de tipo de dato datetime64

0          Martes
1       Miércoles
2          Jueves
3         Viernes
4           Lunes
          ...
1213      Viernes
1214        Lunes
1215       Martes
1216    Miércoles
1217       Jueves
Name: date, Length: 1218, dtype: object

In [28]:
#Tambien se puede decirle desde el inicio que lea la columna que queremos como datetime

In [31]:
df1 =pd.read_csv("../Data/oil.csv",parse_dates=["date"])

In [34]:
df1.dtypes

date          datetime64[ns]
dcoilwtico           float64
dtype: object